<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>

  

  	<div class="center hero-unit">
    	<h1>Thunderbolt</h1>
    	<h2>Donated organs and blood database</h2>
       
      <% if hospital_signed_in? %>
        Signed in as <%= current_hospital.email %>. Not you?
      <%= link_to "Sign out", destroy_hospital_session_path, :method => :delete %>
      
      <% else %>
      
      <%= link_to "Hospital Sign up", new_hospital_registration_path, class: "btn btn-large btn-primary" %>
      <% end %>
  
    	
    </div>

    
  </body>
</html>