<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :hospital_name %><br />
  <%= f.text_field :hospital_name %></div>

  <div><%= f.label :hospital_Id %><br />
  <%= f.text_field :hospital_id %></div>

  <div><%= f.label :hospital_address %><br />
  <%= f.text_field :address %></div>

  <div><%= f.label :city %><br />
  <%= f.text_field :city %></div>

  <div><%= f.label :district %><br />
  <%= f.text_field :district %></div>

  <div><%= f.label :state %><br />
  <%= f.select :state, ["Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chhattisgarh","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Madhya Pradesh","Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Orissa","Punjab","Rajasthan","Sikkim","Tamil Nadu","Tripura","Uttar Pradesh","Uttarakhand","West Bengal","Andaman and Nicobar Islands","Chandigarh","Dadra and Nagar Haveli","Daman and Diu","Lakshadweep","Delhi","Puducherry"] %></div>

  <div><%= f.label :ZIP %><br />
  <%= f.text_field :zip %></div>

  <div><%= f.label :phone %><br />
  <%= f.text_field :phone %></div>

  

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
