<%= form_for(@hospital) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :donor, placeholder: "Donor Name" %>
    <%= f.select :type, ["A+","A-","B+","B-","AB+","AB-","O+","O-"] %>
    <%= f.text_field :reciever, placeholder: "Reciever Name" %>
  </div>
  
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>