<% provide(:title, 'All hospitals') %>
<h1>All hospitals</h1>

<%= will_paginate %>

<ul class="users">
  <% @hospitals.each do |hospital| %>
    <li>
      <%= gravatar_for hospital, size: 52 %>
      <%= link_to hospital.hospital_name, hospital %>
      
  
    </li>
  <% end %>
</ul>

<%= will_paginate %>